html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

canvas {
    display: block;
}

a {
    color: wheat;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

.landing-page-container {
    /* background-color: bisque; */

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-title-container {
    /* background-color: cornflowerblue; */
    width: 500px;
    text-align: center;
}

.landing-page-title-box {
    /* background-color: aquamarine; */
    font-size: 20px;
    padding: 10px 0;
}

.landing-page-link-box {
    /* background-color: coral; */
    padding: 10px 0;
}

.main-container {
    width: 800px;
    margin: 0 auto;
    padding: 100px 50px;
}

.main-title-box {
    width: 100%;
    text-align: center;

    margin-bottom: 30px;
}

.main-description-box {
    width: 100%;

    margin: 30px 0;
}

.main-link-box {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}